<div class="container">
  <div class="row mb-sm-3">
        <label for="comment">Answers:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
   </div>

    <div class="row">
        <div class="col-sm-1">
            <div class="row mb-3">
                <button type="button" class="btn btn-outline-dark btn-light">SEND</button>
            </div>
            <div class="row">
            Speech....
            </div>
        </div>

        <div class="col-sm-2 mr-4">
            <div class="row">
                <label class="input-group-text col-sm-8">User ID</label>
                <input type="text" class="form-control col-sm-4" placeholder="1">
            </div>
            <div class="row mb-3">
                
            </div>
        </div>

        <div class="col-sm-2 mr-4">
            <div class="row mb-3">
                <label class="input-group-text col-sm-8">Randomness</label>
                <input type="text" class="form-control col-sm-4" placeholder="0.5">
            </div>
            <div class="row mb-3 d-flex flex-row-reverse">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">Listen</label>
                </div>
            </div>
        </div>

        <div class="col-sm-2 mr-4">
            <div class="row mb-3">
                <label class="input-group-text col-sm-8">Max Tokens</label>
                <input type="text" class="form-control col-sm-4" placeholder="2048">
            </div>
            <div class="row mb-3 d-flex flex-row-reverse">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                    <label class="form-check-label" for="check2">Mute</label>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ml-1">
            <div class="row mb-3">
                <label class="input-group-text col-sm-3">Model</label>
                <select class="form-control col-sm-9" id="StudentGender" name="StudentGender">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>
            <div class="row">
                <label class="input-group-text col-sm-3">Voice</label>
                <select class="form-control col-sm-9" id="StudentGender" name="StudentGender">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-sm-3">
        <label for="comment">Question:</label>
        <textarea class="form-control" rows="3" id="comment" name="text"></textarea>
    </div>
</div>  